.active{
    background-color: rgb(128,0,128);
    color:white;
}
li>a {
    font-size: 2em;
    padding: 10px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color:aliceblue;
    position:fixed;
    bottom: 0;
    width: 100%;
}

li{
    float: left;
    width:50%;
    text-align:center;
}

li a{
    display: block;
    color:black;
    text-align: center;
    text-decoration: none;
}

li a:hover,:visited{
    text-decoration: none;
}
#overallPages{
    width: 100%;
    padding-top: 110px;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
#overallPages .oaPages{
    display: none;
}
#overallPages .oaPages.content{
    display: block;
}
#myPage{
    width: 100%;
    display: none;
    z-index: 98;
}
#myPage.acc{
    display: block;
}