.active{
    background-color: rgb(128,0,128);
    color:white;
}
li>a {
    font-size: 1.5em;
    padding: 10px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color:aliceblue;
    position:fixed;
    bottom: 0;
    width: 100%;
}

li{
    float: left;
    width:50%;
    text-align:center;
}

li a{
    display: block;
    color:black;
    text-align: center;
    text-decoration: none;
}

li a:hover,:visited{
    text-decoration: none;
}
#overallPages{
    width: 100%;
    padding-top: 70px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
#overallPages .oaPages{
    display: none;
}
#overallPages .oaPages.content{
    display: block;
}
#myPage{
    width: 100%;
    height: 100%;
    margin: 0;
    display: none;
    z-index: 98;
    position: fixed;
    z-index: 200;
    background-color: white;
    top: 0;
}
#myPage.acc{
    display: block;
}
.info{
    display: none;
}
.info.mActive{
    display: block;
}
.fullScreen {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.5);

}
#progressContainer {
    display: none;
    z-index: 500;
}
#progressBox {
    width: 60px;
    height: 60px;
}
#progress {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(128,0,128);
    animation: progressAnimation 1s linear 0s infinite running;
}
.centermiddle {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
@keyframes progressAnimation {
    0% {left: 0px; top: 0px;}
    25% {left: 50px; top: 0px;}
    50% {left: 50px; top: 50px;}
    75% {left: 0px; top: 50px;}
    100% {left: 0px; top: 0px;}
}